<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('include/title.html')
</head>
<body>

@@include('include/header_public.html')

<div id="div_page_add">

    <label for="btn_upload">
        <img src="//127.0.0.1:3000/views/image/icon_upload.jpg" alt="img" id="img_upload">
        <input type="file" value="Upload Image" id="btn_upload" accept="image/*" onchange="uploadImg()">
    </label>

    <div id="add_div">

    </div>
    <input type="button" id="add_submit" value="Add">
</div>

@@include('include/footer_public.html')

<script src="//127.0.0.1:3000/views/js/loans.js"></script>
<script src="//127.0.0.1:3000/views/js/add.js"></script>

</body>
</html>