<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('include/title.html')
</head>
<body>

@@include('include/header_public.html')

<div id="div_search_radio">
    <label for="check_name" class="label_radio">
        <input name="search" type="radio" id="check_name" checked="checked" class="search_type" value="name">
        <span>Name</span>
    </label>
</div>

@@include('include/header_search.html')

<ul id="authors_list"></ul>

@@include('include/footer_public.html')
@@include('include/footer_index.html')

</body>
</html>