<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('include/title.html')
</head>
<body>

@@include('include/header_public.html')

<label for="check_title">
    <input name="search" type="radio" id="check_title" checked="checked" class="search_type" value="title">
    <span>Title</span>
</label>
<label for="check_isbn">
    <input name="search" type="radio" id="check_isbn" class="search_type" value="isbn">
    <span>Isbn</span>
</label>

@@include('include/header_search.html')

<ul id="authors_list"></ul>

@@include('include/footer_public.html')
@@include('include/footer_index.html')

</body>
</html>