<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('include/title.html')
</head>
<body>

@@include('include/header_public.html')

<div class="div_addition">
    <label for="check_add_book" class="label_addition">
        <input name="addbook" type="radio" id="check_add_book" checked="checked" onclick="showAddBook()">
        <span>Add a Author</span>
    </label>
    <label for="check_add_new_book" class="label_addition">
        <input name="addbook" type="radio" id="check_add_new_book" onclick="showAddNewBook()">
        <span>Add a New Author</span>
    </label>

    <div id="content_add_book" class="display_block label_addition">
        Author Id<input type="text" id="input_book_id" class="input_addition"><br>
        <input type="button" value="Add" onclick="addBook()" class="button_addition">
    </div>
    <div id="content_add_new_book" class="display_none label_addition">
        Author Name<input type="text" id="input_book_title" class="input_addition"><br>
        <input type="button" value="Add" onclick="addNewBook()" class="button_addition">
    </div>
</div>

@@include('include/footer_public.html')
<script src="//127.0.0.1:3000/views/js/addition.js"></script>

</body>
</html>