<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('include/title.html')
</head>
<body>

@@include('include/header_public.html')

<!--radio group for search type-->
<div id="div_search_radio">
    <label for="check_title" class="label_radio">
        <input name="search" type="radio" id="check_title" checked="checked" class="search_type" value="title">
        <span>Title</span>
    </label>
    <label for="check_isbn" class="label_radio">
        <input name="search" type="radio" id="check_isbn" class="search_type" value="isbn">
        <span>Isbn</span>
    </label>
</div>

@@include('include/header_search.html')

<div id="div_list">
    <ul id="authors_list"></ul>
</div>

@@include('include/footer_public.html')
@@include('include/footer_index.html')

</body>
</html>