<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('include/title.html')
</head>
<body>

@@include('include/header_public.html')

<div id="div_detail">
    <input type="button" value="Change" onclick="detailChange()" id="btn_detail_change">
    <input type="button" value="Delete" onclick="detailDelete()" id="btn_detail_delete">
    <input type="button" value="Add" onclick="detailAdd()" id="btn_detail_addition">

    <div id="div_content">
    </div>

    <div id="div_user_loans">
    </div>
</div>

@@include('include/footer_public.html')
@@include('include/footer_detail.html')

</body>
</html>