<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('include/title.html')
</head>
<body>

@@include('include/header_public.html')

<div id="div_detail">

    <!--buttons for change, delete, addition-->
    <input type="button" value="Change" onclick="detailChange()" id="btn_detail_change">
    <input type="button" value="Delete" onclick="detailDelete()" id="btn_detail_delete">
    <input type="button" value="Add" onclick="detailAdd()" id="btn_detail_addition">

    <!--main content for detail-->
    <div id="div_content">
    </div>

    <!--list area-->
    <ul id="authors_list"></ul>

    <!--loan list area of user-->
    <div id="div_user_loans">
    </div>
</div>

@@include('include/footer_public.html')
<script src="//127.0.0.1:3000/views/js/detail.js"></script>

</body>
</html>