<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
    <link href="../views/css/style.css" rel="stylesheet">
</head>
<body>

<h1>PontyBridge University Library System</h1>

<input type="button" value="All Authors" id="authors">
<input type="button" value="All Books" id="books">
<input type="button" value="All Users" id="users">
<input type="button" value="All Loans" id="loans">

<ul id="authors_list"></ul>

<script src="../views/js/index.js"></script>
</body>
</html>