<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        img {
            width: 100px;
            height: 100px;
            margin: 20px;
            float: left;
        }

        div{
            border: 1px solid black;

        }

        .text {
            float: left;
            margin: 20px;
        }
        .div01{
            height: 200px;
        }


    </style>
</head>
<body>

<ul>
    <li>
        <div class="div01">
            <img src="image/more.png" alt="img">
            <div class="text">
                <p>fdsjk</p>
            </div>
        </div>
    </li>

    <li>
        <div class="div01">
            <img src="image/more.png" alt="img">
            <div class="text">
                <p>fdsjk</p>
            </div>
        </div>
    </li>
</ul>




</body>
</html>