<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('include/title.html')
</head>
<body>

@@include('include/header_public.html')

<form action="">
    <label for="check_name">
        <input name="search" type="radio" id="check_name" checked="checked" class="search_type" value="name">
        <span>Name</span>
    </label>
    <label for="check_barcode">
        <input name="search" type="radio" id="check_barcode" class="search_type" value="barcode">
        <span>Barcode</span>
    </label>
    <label for="check_membertype">
        <input name="search" type="radio" id="check_membertype" class="search_type" value="membertype">
        <span>Member Type</span>
    </label>
</form>

@@include('include/header_search.html')

<ul id="authors_list"></ul>

@@include('include/footer_public.html')
@@include('include/footer_index.html')

</body>
</html>