/*set all elements margin and padding*/
* {
    margin: 0px;
    padding: 0px;
}

/*base background color*/
body {
    background-color: #F2F7F6;
}

/*top area */
#div_page_top {
    background-color: #555555;
    width: 100%;
    height: 2rem;
}

/*little title in top area*/
#span_title {
    color: #8C959E;
    font-size: 0.8rem;
    padding-left: 4rem;
    line-height: 2rem;
}

/*header area*/
#div_page_header {
    background-color: #F0F3F5;
}

header {
    width: 70rem;
    height: 12rem;
    margin: 0px auto;
}

/*main title*/
#title_main {
    color: #268DCD;
    padding: 2rem;
}

/*footer area*/
footer {
    width: 70rem;
    height: 8rem;
    margin: 0px auto;
}

#footer_main {
    color: #268DCD;
    padding: 2rem;
}

/*main page content*/
#div_index {
    width: 70rem;
    height: 20rem;
    margin: 0px auto;
}

/*library logo*/
#img_library {
    width: 20rem;
    height: 20rem;
    margin-left: 10rem;
}

/*navigation button*/
.a_main {
    margin: 1.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #2277AA;
    font-weight: bold;
}

/*navigation button hover*/
.a_main:hover {
    color: #F0F3F5;
    background-color: #2277AA;
}

/*navigation title of page*/
#page_title {
    margin: 2rem;
}

/*radio group for search type*/
#div_search_radio {
    width: 70rem;
    height: 2.5rem;
    margin: 0px auto;
    padding-top: 1rem;
    background-color: #F2F7F6;
}

/*label for radio group*/
.label_radio {
    padding: 1rem;
    margin: 1rem;
}

/*area of search and add*/
#div_search_add {
    width: 70rem;
    height: 7rem;
    margin: 0px auto;
}

/*search bar area*/
#div_search_bar {
    margin-left: 1.5rem;
    width: 25rem;
    height: 2.5rem;
    background-image: url('//127.0.0.1:3000/views/image/icon_search_bar.png');
    float: left;
    margin-top: 0.2rem;
}

/*input area of search bar*/
#search_text {
    width: 20rem;
    height: 2rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    background: none;
    border: none;
    outline: none;
}

/*button for search*/
#search_button {
    width: 2.4rem;
    height: 2.2rem;
    float: left;
    margin-top: 0.3rem;
    border: none;
    outline: none;
    background-image: url('//127.0.0.1:3000/views/image/icon_search.png');
}

#search_button:hover {
    background-image: url('//127.0.0.1:3000/views/image/icon_search_dark.png');
}

/*button for add*/
#add_button {
    width: 7rem;
    height: 2rem;
    margin-left: 1.7rem;
    margin-top: 0.7rem;
    background: #8C959E;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #FCFCFC;
}

#add_button:hover {
    background: #525E68;
}

/*main list area*/
#div_list {
    min-height: 50rem;
    width: 70rem;
    margin: 1rem auto;
}

#authors_list {
    list-style: none;
}

/*item of list*/
.list_item {
    padding: 1rem;
}

.list_item:hover {
    background-color: #CEE6D5;
}

.list_item_div {
    height: 11rem;
}

/*image of list item*/
.list_item_img {
    width: 8rem;
    height: 10rem;
    float: left;
    margin: 10px;
    background: black;
    margin-right: 1.5rem;
}

.list_item_text_div {
    float: left;
    line-height: 2.3rem;
    color: #2277AA;
}

/*class for display none*/
.display_none {
    display: none;
    padding: 2rem;
    padding-top: 1rem;
}

/*class for display block*/
.display_block {
    display: block;
    padding: 2rem;
    padding-top: 1rem;
}

/*button for change in detail page*/
#btn_detail_change {
    width: 5rem;
    height: 2rem;
    background: #8C959E;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #FCFCFC;
    margin: 1rem;
}

/*button for delete in detail page*/
#btn_detail_delete {
    width: 5rem;
    height: 2rem;
    background: #8C959E;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #FCFCFC;
    margin: 1rem;
}

/*button for addition in detail page*/
#btn_detail_addition {
    width: 10rem;
    height: 2rem;
    background: #8C959E;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #FCFCFC;
    margin: 1rem;
}

#btn_detail_change:hover {
    background: #525E68;
}

#btn_detail_delete:hover {
    background: #525E68;
}

#btn_detail_addition:hover {
    background: #525E68;
}

/*detail area in detail page*/
#div_detail {
    min-height: 70rem;
    width: 70rem;
    margin: 0px auto;
    margin-top: 1rem;
}

/*main content area in detail page*/
#div_content {
    margin: 1.5rem;
    line-height: 2rem;
}

/*image in detail page*/
#img_detail {
    width: 8rem;
    height: 10rem;
    display: block;
}

/*list in detail page*/
#div_detail_list {
    height: 15rem;
}

/*item of list in detail page*/
.div_detail_list_item {
    float: left;
    margin: 2rem;
    text-align: center;
}

.img_detail_list {
    width: 8rem;
    height: 10rem;
    display: block;
    margin: 0px auto;
}

/*main content area in page of add*/
#div_page_add {
    width: 70rem;
    margin: 0px auto;
    min-height: 30rem;
}

#add_div {
    padding: 2rem;
}

.add_input {
    margin-left: 1rem;
    margin-top: 1rem;
}

/*button for submit in page of add*/
#add_submit {
    width: 5rem;
    height: 2rem;
    background: #8C959E;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #FCFCFC;
    margin-left: 2rem;
}

#add_submit:hover {
    background: #525E68;
}

/*main content area in addition page*/
.div_addition {
    width: 70rem;
    margin: 0px auto;
    padding-top: 2rem;
    min-height: 30rem;
}

.label_addition {
    padding: 2rem;
    padding-top: 1rem;
}

.input_addition {
    margin-left: 1rem;
    margin-top: 1rem;
}

/*class for button of addition*/
.button_addition {
    width: 5rem;
    height: 2rem;
    background: #8C959E;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #FCFCFC;
    margin-top: 1rem;
}

.button_addition:hover {
    background: #525E68;
}

/*select element for select type*/
#select_type {
    margin: 1rem;
}

.select_time {
    width: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

/*img element for upload image*/
#img_upload {
    width: 8rem;
    height: 10rem;
    margin-left: 4rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

#img_upload:hover {
    content: url("//127.0.0.1:3000/views/image/icon_upload_dark.jpg");
}

/*button for upload image*/
#btn_upload {
    outline: none;
}

/*main content area in error page*/
#div_error {
    width: 60rem;
    margin: 8rem auto;
    min-height: 10rem;
}
